.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.light {
  background: lightblue;
  width: 50vw;
  height: 50vh;
}
.dark {
  background: blue;
  width: 50vw;
  height: 50vh;
}
